version: "3.8"

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      MONGODB_URI: ${MONGODB_URI}
      KEYCLOAK_JWKS_URI: ${KEYCLOAK_JWKS_URI}
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    restart: unless-stopped
